@charset 'UTF-8';

html,
html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  font-size: 1vw;
  background: white;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0);
}
a, a:visited {
    color: inherit;
}
header {
  position: fixed;
  padding: 1.5em;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.site-logo {
  position: relative;
  display: block;
  float: left;
  width: 15.1em;
}
.site-logo img {
  width: auto;
}
.logo {
  opacity: 1;
}
.site-nav {
  position: relative;
  float: right;
  z-index: 400;
  top: 0;
  left: 0;
  display: block !important;
  width: 80%;
  padding: .75em 1em 0 0;
  opacity: .95;
  background: none;
}
.site-nav ul {
  list-style-type: none;
  margin: 0;
  text-align: right;
}
.site-nav ul li {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 1.5em;
}
.site-nav ul li a {
  font-size: .85em;
  padding-bottom: .5em;
  text-decoration: none;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #0E3DE0;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.site-nav ul li a:hover {
  outline: none;
  border-bottom: 1px solid white;
}
.hero {
  position: relative;
  height: 54vw;
  background-color: lightblue;
  opacity: none;
 

}
.hero-content {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  color: #0E3DE0;
  position: absolute;
  z-index: 20000;
  padding-top: 4em;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
h2 {
	font-weight: 100;
	font-size: 2em;
    line-height: 2.2;
	margin-bottom: -.35em;
	padding-top: 13%;
	letter-spacing: .3em;
	text-transform: uppercase;
	text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}
h1 {
  margin-bottom: 1.5%;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgba(0, 0, 0,.05);
  letter-spacing: .40em;
  margin-left: .5em;
  font-size: 7.5vw;
}
h3 {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 2.75;
  letter-spacing: .35em;
  text-transform: uppercase;
  text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}
.intro {
  position: relative;
  color: #343144;
  background: #fff;
  padding: 12.5em 6em 14.5em;
}
.intro-text {
  position: relative;
}
.intro p {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  font-size: 2.0em;
  line-height: 1.8;
  position: relative;
  z-index: 200;
  text-align: center;
  letter-spacing: .325em;
  text-transform: uppercase;
}
.connected-office {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.collaborate {
  display: flex;
}
.collaborate .collaboration-piece {
  padding: 8% 0 8% 23.5%;
  background-image:-moz-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
  background-image: -webkit-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
  background-image: -ms-linear-gradient( 135deg, rgb(160,55,220) 0%, rgb(83,200,234) 100%);
  width: 50%;
}
.collaboration-piece figure {
  position: relative;
}
.collaboration-piece figure img {
  position: relative;
  z-index: 100;
}
.collaborate .cloud-exodus-description {
  background: #26223e;
  color: #fff;
  width: 50%;
  padding: 11.25em 13em 11.5em;
}
.exodus-title{
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  font-size: 3em;
  font-weight: 100;
  padding: 2em 0 0 0;
  letter-spacing: .3em;
  text-transform: uppercase;
  line-height: 1.;
  max-width: 9em;
  margin-bottom: .5em;
}
.exodus-text {
  font-size: 1.1em;
  line-height: 1.9;
  opacity: .8;
  max-width: 20em;
}
.see-more {
  font-size: 1em;
  display: inline-block;
  margin-top: 4.1em;
  padding: 0 0 .4em 0;
  transition: all .3s;
  text-decoration: none;
}
.see-more:hover {
  border-bottom: 1px solid white;
}
footer {
  margin-top: -3.5em;
  padding-top: 10em;
  background-image:-moz-linear-gradient( -45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
  background-image: -webkit-linear-gradient( -45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
  background-image: -ms-linear-gradient( -45deg, rgb(255,91,127) 0%, rgb(255,213,86) 100%);
}
.footer-content {
  width: 64%;
  margin: 0 auto;
	padding-bottom:1.7em;
}
.footer-social {
  display: block;
  width: 100%;
  list-style-type: none;
  text-align: center;
}
.footer-social li {
  display: inline-block;
  margin: 0 1.2em;
}
.footer-social li a {
  line-height: 3.5em;
  display: inline-block;
  width: 4em;
  height: 4em;
  text-align: center;
  border: 2px solid rgba(255,255,255,.3);
  border-radius: 50%;
}
.footer-social li a:hover {
  border-color: #fff;
  background: #fff;
}
.footer-social li a img {
  width: auto;
  height: 1em;
}
.footer-social li a .social-hover {
  display: none;
}
.footer-social li a:hover .social-default {
  display: none;
}
.footer-social li a:hover .social-hover {
  display: inline;
}
.footer-info {
  clear: both;
  padding-top: 5em;
}
.footer-info p {
  font-size: .8em;
  color:#fff;
  line-height: 1.55;
  max-width: 36em;
  margin-bottom: 1.7em;
}
.footer-disclaimer {
  width: 60%;
  position: relative;
}
.footer-credit {
  float: right;
  width: 40%;
  text-align: right;
  position: relative;
}
.footer-legal {
  opacity: .8;
}
.footer-credit a:hover {
  text-decoration: none;
}
@media (min-width:768px){
	body {
    font-size: 100%;
  }

  header {
    position: fixed;
    padding: 1.35em;
  }


  .site-logo {
    float: left;
    width: 3.1em;
  }
  .site-logo img {
    width: 3.1em;
  }

  .site-nav-open {
    display: none;
  }

  .site-nav-close {
    display: none;
  }

  .site-nav {
    position: relative;
    display: block !important;
    float: right;
    width: 80%;
    padding: .75em 1em 0 0;
    background: none;
  }

  .site-nav ul {
    margin: 0;
    text-align: right;
  }
  .site-nav ul li {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 1.5em;
  }
  .site-nav ul li a {
    font-size: .85em;
    padding-bottom: .5em
  }
  .site-nav ul li a:hover,
  .site-nav ul li a:focus {
    outline: none;
    border-bottom: 1px solid white;
  }

 

.hero {
  height: 119vw;
}
.hero-leadin {
  font-size: 2em;
  line-height: 2.2;
  margin-bottom: 2.25%;
  padding-top: 24.2%;
  letter-spacing: .39em;
}
.hero-title {
	font-size: 12.4vw;
	margin-bottom: 4.85%;
	letter-spacing: .225em;
	margin-left: .25em;
}
.hero-date {
  line-height: 2.75;
  letter-spacing: .35em;
}
.hero-arrow {
  bottom: 4.25%;
  width: .5em;
  margin-left: -.25em;
}

.intro {
  padding: 9em 6em 9.5em;
}
.intro p {
  font-size: 2.25em;
  line-height: 2;
  letter-spacing: .32em;
}
.intro-text {
  width: 37em;
  margin: 0 auto;
}
#stamp {
  bottom: 60px;
  right: 3em;
  width: 7em;
}
.artwork-piece figure figcaption {
  width: 58%;
  padding: 1.5em 1.65em;
}
.artwork-description {
  padding: 5.85em 11em 6.975em;
}
.artwork-title {
  font-size: 2.4em;
  margin-bottom: .6em;
  letter-spacing: .35em;
}
.artwork-3 .artwork-piece {
  padding: 3.5% 26%;
}
.artwork-3 .artwork-description {
  background: #26223e;
}
footer {
  margin-top: -2.5em;
  padding-top: 10em;
}
.footer-info {
  clear: both;
  padding-top: 5em;
}
.footer-info p {
  max-width: 24em;
}
.footer-disclaimer {
  width: 60%;
}

.footer-credit {
  float: right;
  width: 40%;
  text-align: right;
}
}


@media (min-width:992px){
	.hero {
    height: 53.5vw;
  }
}
